<!DOCTYPE html>
<html>
<head>
    <title>Agendar</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h2>Agendar Horário</h2>

    <form method="POST">

        <input type="text" name="nome" placeholder="Nome" required>
        <input type="text" name="telefone" placeholder="Telefone" required>

        <h3 class="subtitulo">Selecione os serviços</h3>

        <div class="servicos">

            <label class="servico-item">
                <input type="checkbox" name="servicos" value="Mão">
                <span>Mão</span>
            </label>

            <label class="servico-item">
                <input type="checkbox" name="servicos" value="Pé">
                <span>Pé</span>
            </label>

            <label class="servico-item">
                <input type="checkbox" name="servicos" value="Mão + Pé">
                <span>Mão + Pé</span>
            </label>

            <label class="servico-item">
                <input type="checkbox" name="servicos" value="Cabelo">
                <span>Cabelo</span>
            </label>

            <label class="servico-item">
                <input type="checkbox" name="servicos" value="Cabelo + Mão">
                <span>Cabelo + Mão</span>
            </label>

            <label class="servico-item">
                <input type="checkbox" name="servicos" value="Cabelo + Pé">
                <span>Cabelo + Pé</span>
            </label>

            <label class="servico-item">
                <input type="checkbox" name="servicos" value="Progressiva">
                <span>Progressiva</span>
            </label>

            <label class="servico-item">
                <input type="checkbox" name="servicos" value="Selagem">
                <span>Selagem</span>
            </label>

            <label class="servico-item">
                <input type="checkbox" name="servicos" value="Botox">
                <span>Botox</span>
            </label>

            <label class="servico-item">
                <input type="checkbox" name="servicos" value="Tintura">
                <span>Tintura</span>
            </label>

            <label class="servico-item">
                <input type="checkbox" name="servicos" value="Depilação">
                <span>Depilação</span>
            </label>

            <label class="servico-item">
                <input type="checkbox" name="servicos" value="Sobrancelhas">
                <span>Sobrancelhas</span>
            </label>

        </div>

        <input type="date" name="data" required>
        <input type="time" name="horario" required>

        <button type="submit" class="btn">Confirmar horário</button>

    </form>

    <a href="/" class="btn secondary">Voltar para a página inicial</a>
</div>

</body>
</html>
