<!DOCTYPE html>
<html>
<head>
    <title>Agendar</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
<h2>Agendar Horário</h2>

<form method="POST">
    <input name="nome" placeholder="Nome" required>
    <input name="telefone" placeholder="Telefone" required>

    <select name="servico" required>
        <option value="">Selecione o serviço</option>
        <option value="mao">Mão</option>
        <option value="pe">Pé</option>
        <option value="mao_pe">Mão + Pé</option>
        <option value="cabelo">Cabelo</option>
        <option value="cabelo_mao">Cabelo + Mão</option>
        <option value="cabelo_pe">Cabelo + Pé</option>
        <option value="mao_pe_cabelo">Mão + Pé + Cabelo</option>
        <option value="progressiva">Progressiva</option>
        <option value="selagem">Selagem</option>
        <option value="botox">Botox</option>
        <option value="tintura">Tintura</option>
        <option value="depilacao">Depilação</option>
        <option value="virilha_completa">Virilha completa</option>
        <option value="axila">Axila</option>
        <option value="buco">Buço</option>
        <option value="sobrancelha">Sobrancelhas</option>
    </select>

    <input type="date" name="data" required>
    <input type="time" name="horario" required>

    <!-- BOTÃO CONFIRMAR -->
    <button class="btn" type="submit">Confirmar horário</button>
</form>

<!-- BOTÃO VOLTAR HOME -->
<a class="btn secondary" href="/">Voltar para a página inicial</a>

