<!DOCTYPE html>
<html>
<head>
    <title>Editar</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
<h2>Editar</h2>

<form method="POST">
<input name="nome" value="{{ a[1] }}" required>
<input name="telefone" value="{{ a[2] }}" required>

<select name="servico">
    <option value="{{ a[3] }}">Atual</option>
    <option value="mao">Mão</option>
    <option value="pe">Pé</option>
    <option value="mao_pe">Mão + Pé</option>
    <option value="cabelo">Cabelo</option>
    <option value="cabelo_mao">Cabelo + Mão</option>
    <option value="cabelo_pe">Cabelo + Pé</option>
    <option value="mao_pe_cabelo">Mão + Pé + Cabelo</option>
    <option value="progressiva">Progressiva</option>
    <option value="selagem">Selagem</option>
    <option value="botox">Botox</option>
    <option value="tintura">Tintura</option>
    <option value="depilacao">Depilação</option>
    <option value="virilha_completa">Virilha completa</option>
    <option value="axila">Axila</option>
    <option value="buco">Buço</option>
    <option value="sobrancelha">Sobrancelhas</option>

</select>

<input type="date" name="data" value="{{ a[4] }}" required>
<input type="time" name="horario" value="{{ a[5] }}" required>

<button class="btn">Salvar</button>
</form>

<a class="btn secondary" href="/lista">Voltar</a>
</div>
</body>
</html>
