<!DOCTYPE html>
<html>
<head>
    <title>Editar</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h2>Editar Agendamento</h2>

    <form method="POST">

        <input type="text" name="nome" value="{{ a[1] }}" required>
        <input type="text" name="telefone" value="{{ a[2] }}" required>

        <h3 class="subtitulo">Serviços</h3>

        {% set selecionados = a[3].split(', ') %}

        <div class="servicos">

            {% for s in [
                "Mão","Pé","Mão + Pé","Cabelo","Cabelo + Mão","Cabelo + Pé",
                "Mão + Pé + Cabelo","Progressiva","Selagem","Botox","Tintura",
                "Depilação","Virilha completa","Axila","Buço","Sobrancelhas"
            ] %}
            <label class="servico-item">
                <input type="checkbox" name="servicos" value="{{ s }}"
                       {% if s in selecionados %}checked{% endif %}>
                <span>{{ s }}</span>
            </label>
            {% endfor %}

        </div>

        <input type="date" name="data" value="{{ a[4] }}" required>
        <input type="time" name="horario" value="{{ a[5] }}" required>

        <button class="btn">Salvar alterações</button>
    </form>

    <a href="/lista" class="btn secondary">Voltar</a>
</div>

</body>
</html>
