<!DOCTYPE html>
<html>
<head>
    <title>Agenda</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
<h2>Agendamentos</h2>

{% for a in agendamentos %}
<div class="item">
    <b>{{ a[1] }}</b><br>
    <small>{{ a[2] }}</small><br><br>

    <b>Serviços:</b><br>
    {{ a[3] }}<br><br>

    {{ a[4] }} às {{ a[5] }}<br><br>

    <a class="btn" href="/editar/{{ a[0] }}">Editar</a>
    <a class="btn danger" href="/excluir/{{ a[0] }}"
       onclick="return confirm('Excluir horário?')">Excluir</a>
</div>
{% endfor %}

<a class="btn secondary" href="/logout">Sair</a>
</div>
</body>
</html>
